
  .Header {
    color: #443e3e;
    text-shadow: 1px 1px 5px #fff;
    margin-left: 25%;
  }
  .Collapsible { 
    color: green;
    margin: 5px; 
    padding: 5px; 
  } 
  
  .Collapsible__trigger { 
    cursor: pointer; 
  } 
  .Collapsible__contentInner{ 
    
    width:50%;
    overflow: auto;
    background-color: #5576FF; 
    color: white; 
    opacity: none;
    border: 1px solid rgb(79, 106, 211); 
    padding: 30px; 
    margin-top: 50px; 
    margin-left: 25%;
  }
  .Collapsible__contentInner img{
    border-radius: 50%;
    
  }
  h1{
    padding: 5px;
  }
  u {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .Collapsible__contentInner{
    margin: 20px;
    padding: 25px;
    width: 100%;
  }
}