body {
  background-color: @nice-white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: @logo-blue;
}

.container {
  font-style: bold;
  width: 100%;
  background-color: @nice-white;
  max-width: 800px;
  margin: 0 auto;
}

.send-message,
.message-feed {
  background-color: #FEFEFF;
  text-align: center;
  font-size: .85rem;
  width: 100%;
  max-width: 500px;
  border: solid 1px lightgray;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.StripeElement {
  margin-bottom: 10px;
}
.btn-light {
  background-color:@logo-blue;
  color:white;
  // font-weight:bold;
  border-width: 1.5px;
}
.btn-light:hover {
  background-color:white;
  color:@logo-blue;
}