@import "./vars.less";
@import "./mixins.less";
@import "./header.less";
@import "./footer.less";
@import "./message-form.less";
@import "./message-feed.less";
@import "./loading.less";


body {
  background-color: @nice-white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: @logo-blue;
}
.icons {
  text-align: center;
  width:470px;
  color: @dark-blue;
}

.row {
  justify-content: center;
}

.container {
  font-style: bold;
  width: 100%;
  background-color: @nice-white;
  max-width:800px;
  margin: 0 auto;
}

.send-message, .message-feed {
  background-color: #FEFEFF ;
  text-align: center;
  font-size: .85rem;
  width:100%;
  max-width: 500px;
  border: solid 1px lightgray;
  padding: 30px;
  border-radius: 5px;
  margin-bottom:30px;
}
.StripeElement {
  margin-bottom:10px;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}