@import "./vars.less";
@import "./mixins.less";
@import "./header.less";
@import "./footer.less";
@import "./message-form.less";
@import "./message-feed.less";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
}
.container {
  max-width:800px;
  margin: 0 auto;
}